{% extends 'main.html' %}
{% block main %}
<div class="banner">
    <div class="ba-main clearfix">
        <div class="fl">
            <h4>记录好<span style="color:#000;">你们俩</span>的甜蜜时刻</h4>
            <ul class="ba-description">
                <li>在<span>电脑上和手机上</span>记录你们的甜蜜时刻</li>
                <li>通过<span>时光轴</span>回味那些美好的时刻</li>
                <li>我们提供<span>私密的、安全的、永久的</span>云储存服务</li>
            </ul>
            <a href="/user/register" class="ba-reg">现在注册</a>
        </div>
        <div class="ba-img fr">
            <div class="po-image"><img src="/public/images/banner1.jpg" alt=""></div>
            <div class="po-image"><img src="/public/images/banner2.jpg" alt=""></div>
            <div class="po-image"><img src="/public/images/banner3.png" alt=""></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="contain">
        <div class="con-top">
            <p class="conText">功能介绍</p>
            <div class="con-top-desc">
                <ul class="con-list clearfix">
                    <li>
                        <a class="conList conList1" href=""></a>
                        <p>记录</p>
                    </li>
                    <li>
                        <a class="conList conList2" href=""></a>
                        <p>时间轴</p>
                    </li>
                    <li>
                        <a href="" class="conList conList3"></a>
                        <p>纪念日</p>
                    </li>
                    <li>
                        <a href="" class="conList conList4"></a>
                        <p>表情</p>
                    </li>
                    <li>
                        <a href="" class="conList conList5"></a>
                        <p>脚印</p>
                    </li>
                    <li>
                        <a href="" class="conList conList6"></a>
                        <p>App</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="con-bottom">
            <p class="conText">常见问题</p>
            <div class="con-bot-desc">
                <ul class="conList clearfix">
                    <li>
                        <p class="title">两个人是什么</p>
                        <p class="answer">两个人是最好的给情侣共同使用的一个云端网络服务，包括网站和APP，以及移动设备的支持。在两个人可以记录你们的甜蜜时刻，回味那些美好的回忆。</p>
                    </li>
                    <li>
                        <p class="title">两个人都提供了什么功能</p>
                        <p class="answer">从2009年起，我们为超过30万对情侣提供了服务，新版两个人重装上线，希望可以成为你们爱情的忠实见证者。</p>
                    </li>
                    <li>
                        <p class="title">使用价格</p>
                        <p class="answer">新版两个人是一款需要付费使用的网络服务，我们提供最棒的用户体验，支持多种设备浏览。 服务费用是60元/年 。 无论新老用户，在付费之前都有60天的免费试用期。</p>
                    </li>
                    <li>
                        <p class="title">免费试用期间功能是完整的吗？</p>
                        <p class="answer">免费试用期间的功能和正式付费后完全一样。你现在体验到的就是你真正可以购买到的。 试用期满后会为你免费保留已有的数据，你可以随时回来。</p>
                    </li>
                    <li>
                        <p class="title">如何付款？不满意是否可以退款？</p>
                        <p class="answer">我们支持支付宝和网银的在线付款。可以在7天内退款，不需要理由。</p>
                    </li>
                    <li>
                        <p class="title">数据在你们这儿安全吗？</p>
                        <p class="answer">全新改版的两个人提供安全，私密的云端数据存储，保证你们的数据安全。</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}